{% extends 'teams/base.html' %}
{% load static %}
{% block title %}
  Select your teams
{% endblock %}

{% block content %}

   
    <form action="{% url 'picks' %}" method = "GET">
      
        {% for team in teams %}
          
          <div class="container1 font-height">
            <div>
              <input type="radio" name="{{ team.away_team }}"  id={{ team.id }}  value={{ team.id }}  />
              <label for="pick">{{ team.away_team}}</label>
            </div>
            <div>
              <input type="radio" name="{{ team.home_team }}"   id={{ team.id }}  value={{ team.id }}  />
              <label for="pick">{{ team.home_team}}</label>
            </div>
          </div>
            
          
          
        {% endfor %}
    </div>
     <div class="center">
     <input type="submit" value="Submit">
    </div>
    </form>
  



{% endblock %}