{% extends 'teams/base.html' %}
{% load static %}
{% block title %}
  Select Week {{ week_number }} Winners
{% endblock %}

{% block content %}

   
    <form action="{% url 'select_winners' %}" method = "GET">
        <div class="center"></div>    
          <input type="text" name="week_number">
        </div>
        {% for team in home_aways %}
          
          <div class="container1 font-height">
            <div>
              <input type="radio" name="{{ team.away_team }}"  id={{ team.id }}  value={{ team.id }}  />
              <label for="pick">{{ team.away_team}}</label>
            </div>
            <div>
              <input type="radio" name="{{ team.home_team }}"   id={{ team.id }}  value={{ team.id }}  />
              <label for="pick">{{ team.home_team}}</label>
            </div>
          </div>
            
          
          
        {% endfor %}
    </div>
     <div class="center">
     <input type="submit" value="Submit">
    </div>
    </form>
  



{% endblock %}