{% extends 'teams/base.html'%}
{% block title %}
  Winner List
{% endblock title %}

{% block content %}
 <table>
    <tr>
        <th>Game ID</th>
        <th>Week Number</th>
        <th>Year</th>
        <th>Player</th>
        <th>Away Team</th>
        <th>Home Team</th>
        <th>Away Score</th>
        <th>Home Score</th>
        <th>Selected Team</th>
        <th>Actual Winner</th>
        <th>Status</th>
        <th>Options</th>
    </tr>    
  {% for winner in page_obj %}
    <tr>
       <td class = 'center'> {{ winner.id }}</td>  
       <td class = 'center'> {{ winner.week_number }}</td>
       <td class = 'center'>{{ winner.year }}</td>
       <td class = 'center'>{{ winner.player}}</td>
       <td class = 'center'>{{ winner.away }}</td>
       <td class = 'center'>{{ winner.home }}</td>
       <td class = 'center'>{{winner.away_score }}</td>
       <td class = 'center'> {{winner.home_score }}</td>
       <td class = 'center'>{{winner.selected_pick }}</td>
       <td class = 'center'>{{ winner.actual_winner }}</td>
       <td class='center'>{{ winner.status }}</td>
       <td class = 'center'><a href="{% url 'update' winner.id %}">Update</a> | <a href="{% url 'scores' winner.id %}">Scores</a> |<a href="{% url 'delete' winner.id %}">DELETE</a></td>
    </tr>    
    {% endfor %}
 </table>  
   
 <!--Set up paginator.   

 <div class='center'>
  <br/><br/>
   {{ page_obj }}<br/>
   winner has previous: {{page_obj.has_previous}}<br/>
   winner has next:     {{ page_obj.has_next}}<br>
   winner on page:      {{ page_obj.number}}<br>
   number of pages:     {{ page_obj.paginator.num_pages}}

  </div>
 -->
  <hr><br/><br/>
  <div class='center'>
   {% if page_obj.has_previous %}
     <a href="?page=1">&laquo First</a>
     <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
   {% endif %}
   Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
   {% if page_obj.has_next %}
     <a href="?page=1">&raquo First</a>
     <a href="?page={{ page_obj.next_page_number }}">Next</a>
   {% endif %}
  </div>

{% endblock content %}
