{% extends 'teams/base.html'%}
{% block title %}
  Winner List
{% endblock title %}

{% block content %}
<form>
 <table>
    <tr>
        <th>Week</th>
        <th>Year</th>
        <th>Player</th>
        <th>Away<br/>Team</th>
        <th>Home<br/>Team</th>
        <th>Away<br/> Score</th>
        <th>Home<br/> Score</th>
        <th>Actual<br>Winner</th>
        <th>Selected<br/>Team</th>
        <th>Status</th>
        <th>Update | Delete</th>
    </tr>    
  {% for winner in list %}
    <tr>   
       <td class = 'center'> {{ winner.week_number }}</td>
       <td class = 'center'>{{ winner.year }}</td>
       <td class = 'center'>{{ winner.player}}</td>
       <td class = 'center'>{{ winner.away }}</td>
       <td class = 'center'>{{ winner.home }}</td>
       <td class = 'center'>{{winner.away_score }}</td>
       <td class = 'center'> {{winner.home_score }}</td>
       <td class = 'center'> {{winner.actual_winner }}</td>
       <td class = 'center'>{{winner.selected_pick }}</td>
       <td class = 'center'>{{ winner.status }}</td>
       <td class = 'center'><a href="{% url 'update' winner.id %}">Update</a> | <a href="{% url 'delete' winner.id %}">DELETE</a></td>
    </tr>    
    {% endfor %}
 </table>
</form>  
   
 
{% endblock content %}
